# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Environment Variables
.env
.env*.local
!.env.example
.vercel
node_modules/
.pnpm/
.next/
dist/
build/
.vercel/output/
